@use "src/styles/constants" as *;

.galleryItem {
  cursor: auto;
  padding-bottom: 2rem;

  svg {
    $size: 6rem;
    color: $color-accent;
    width: $size;
    height: $size;
  }

  p {
    font-weight: normal;
  }
}

.notification {
  background-color: $color-accent;
  border-radius: 10px;
  color: $color-accent-text;
  padding: 1rem 2rem;
  text-align: left;
  width: 100%;

  h3,
  p {
    margin: 0;
  }

  p {
    font-size: 1rem;
    font-weight: 100;
  }
}
