@use '/src/styles/constants' as *;

.App-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-primary;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 1000;
  overflow-x: auto;
  white-space: nowrap;
  padding: 1.5rem;
}
